header{
  color: white;
  background-color: black;
}

img.align-center {
  display:block;
  margin: 0px auto;
}
img.medium {
  width: 200px;
  height: 200px;
}

nav {
  background-color: black;
  color: white;
  margin:10px;
  border: 10px red;
  }



nav ul li{
    float: left;
    width: 400px;
    margin:10px;
    display: inline;
}


body {
  margin:500;
  height:100%;
  font-family: helvetica;
  text-align: center;
  background-color: blue;
}

.subs{
  color: white;
  background-color: black;
}

p{
  text-align: center;
  color: gray;
  border-color: black;
}

ul li{
  list-style: circle;
  text-align: left;
  color:red;
  margin-left: 500px;
}

ol li{
  text-align: left;
  color:red;
  margin-left: 500px;
}

footer{
  clear: left;
  padding:10px;
  background-color: gray;
  text-align: center;
}

div{
  color: red;
  border-width: thick;
  border-color: yellow;
  padding: 10;
}
